# Setup

This file compares the testing rates in the different boroughs of NYC.

In [1]:
using DataFrames
using CSV
using DataFramesMeta

Data available here--I cloned the github repo and can update this on a daily basis

https://github.com/nychealth/coronavirus-data

The next analysis is just for my own curiosity. Scroll down to the next header to see the testing results

In [2]:
Data_Main=CSV.read("/Users/FilipB/github/coronavirus-data/case-hosp-death.csv")
Data_Main[!,:Log_Hosp_Delta].=0.0
Data_Main[!,:Log_Death_Delta].=0.0
#Data_Main.Hosp=Int.(Data_Main.HOSPITALIZED_CASE_COUNT)
for i in 4:length(Data_Main.Log_Hosp_Delta)-1
    Data_Main.Log_Hosp_Delta[i]=log(Data_Main.HOSPITALIZED_CASE_COUNT[i])-log(Data_Main.HOSPITALIZED_CASE_COUNT[i-1])
end

for i in 14:length(Data_Main.Log_Hosp_Delta)-1
    Data_Main.Log_Death_Delta[i]=log(Data_Main.DEATH_COUNT[i])-log(Data_Main.DEATH_COUNT[i-1])
end
rename!(Data_Main, Dict(:NEW_COVID_CASE_COUNT => "Count"))
l=size(Data_Main)[1]
size(Data_Main)#[5:32,:]

thread = 1 warning: only found 3 / 4 columns on data row: 43. Filling remaining columns with `missing`

(43, 6)

In [3]:
Data_Main[l-20:l,:]

21×6 DataFrame. Omitted printing of 2 columns
│ Row │ DATE_OF_INTEREST │ Count │ HOSPITALIZED_CASE_COUNT │ DEATH_COUNT │
│     │ String           │ Int64 │ Union{Missing, Int64}   │ Int64⍰      │
├─────┼──────────────────┼───────┼─────────────────────────┼─────────────┤
│ 1   │ 3/24/20          │ 4133  │ 1045                    │ 90          │
│ 2   │ 3/25/20          │ 4495  │ 1213                    │ 112         │
│ 3   │ 3/26/20          │ 4638  │ 1312                    │ 173         │
│ 4   │ 3/27/20          │ 4690  │ 1270                    │ 184         │
│ 5   │ 3/28/20          │ 3153  │ 1224                    │ 235         │
│ 6   │ 3/29/20          │ 3196  │ 1291                    │ 254         │
│ 7   │ 3/30/20          │ 5644  │ 1563                    │ 277         │
│ 8   │ 3/31/20          │ 4931  │ 1443                    │ 328         │
│ 9   │ 4/1/20           │ 4720  │ 1436                    │ 365         │
│ 10  │ 4/2/20           │ 5455  │ 1632                    │ 398         │
│ 11  │ 4/3/20           │ 4988  │ 1633                    │ 418         │
│ 12  │ 4/4/20           │ 3608  │ 1355                    │ 417         │
│ 13  │ 4/5/20           │ 3425  │ 1335                    │ 468         │
│ 14  │ 4/6/20           │ 5931  │ 1610                    │ 455         │
│ 15  │ 4/7/20           │ 5388  │ 1369                    │ 476         │
│ 16  │ 4/8/20           │ 4549  │ 1232                    │ 396         │
│ 17  │ 4/9/20           │ 3332  │ 835                     │ 340         │
│ 18  │ 4/10/20          │ 2671  │ 611                     │ 295         │
│ 19  │ 4/11/20          │ 1372  │ 149                     │ 191         │
│ 20  │ 4/12/20          │ 501   │ 5                       │ 29          │
│ 21  │ 4/13/20          │ 28    │ missing                 │ missing     │

In [4]:
dm=dropmissing(Data_Main)
sum(dm.DEATH_COUNT)

6179

In [5]:
Data_Main.DEATH_COUNT

43-element CSV.Column{Union{Missing, Int64},Union{Missing, Int64}}:
    missing
    missing
    missing
    missing
    missing
    missing
    missing
    missing
    missing
   1
   1
    missing
   2
   ⋮
 398
 418
 417
 468
 455
 476
 396
 340
 295
 191
  29
    missing

# Percap testing rates

In [6]:
ZB1=CSV.read("/Users/FilipB/github/coronavirus-data/tests-by-zcta.csv")

178×4 DataFrame
│ Row │ MODZCTA │ Positive │ Total │ zcta_cum.perc_pos │
│     │ String  │ Int64    │ Int64 │ Float64           │
├─────┼─────────┼──────────┼───────┼───────────────────┤
│ 1   │ NA      │ 1851     │ 2017  │ 91.77             │
│ 2   │ 10001   │ 221      │ 462   │ 47.84             │
│ 3   │ 10002   │ 554      │ 1045  │ 53.01             │
│ 4   │ 10003   │ 285      │ 678   │ 42.04             │
│ 5   │ 10004   │ 23       │ 59    │ 38.98             │
│ 6   │ 10005   │ 39       │ 117   │ 33.33             │
│ 7   │ 10006   │ 11       │ 44    │ 25.0              │
│ 8   │ 10007   │ 34       │ 109   │ 31.19             │
│ 9   │ 10009   │ 389      │ 879   │ 44.25             │
│ 10  │ 10010   │ 169      │ 472   │ 35.81             │
⋮
│ 168 │ 11429   │ 548      │ 790   │ 69.37             │
│ 169 │ 11432   │ 872      │ 1345  │ 64.83             │
│ 170 │ 11433   │ 493      │ 750   │ 65.73             │
│ 171 │ 11434   │ 1099     │ 1717  │ 64.01             │
│ 172 │ 11435   │ 825      │ 1357  │ 60.8              │
│ 173 │ 11436   │ 280      │ 429   │ 65.27             │
│ 174 │ 11691   │ 1155     │ 1715  │ 67.35             │
│ 175 │ 11692   │ 310      │ 493   │ 62.88             │
│ 176 │ 11693   │ 205      │ 347   │ 59.08             │
│ 177 │ 11694   │ 371      │ 641   │ 57.88             │
│ 178 │ 11697   │ 63       │ 132   │ 47.73             │

In [7]:
ZB1=ZB1[2:178,:]
Zip=map(x->parse(Int64,x[:]),ZB1.MODZCTA[1:177])
ZB1.Zip=Zip
ZB1

177×5 DataFrame
│ Row │ MODZCTA │ Positive │ Total │ zcta_cum.perc_pos │ Zip   │
│     │ String  │ Int64    │ Int64 │ Float64           │ Int64 │
├─────┼─────────┼──────────┼───────┼───────────────────┼───────┤
│ 1   │ 10001   │ 221      │ 462   │ 47.84             │ 10001 │
│ 2   │ 10002   │ 554      │ 1045  │ 53.01             │ 10002 │
│ 3   │ 10003   │ 285      │ 678   │ 42.04             │ 10003 │
│ 4   │ 10004   │ 23       │ 59    │ 38.98             │ 10004 │
│ 5   │ 10005   │ 39       │ 117   │ 33.33             │ 10005 │
│ 6   │ 10006   │ 11       │ 44    │ 25.0              │ 10006 │
│ 7   │ 10007   │ 34       │ 109   │ 31.19             │ 10007 │
│ 8   │ 10009   │ 389      │ 879   │ 44.25             │ 10009 │
│ 9   │ 10010   │ 169      │ 472   │ 35.81             │ 10010 │
│ 10  │ 10011   │ 359      │ 742   │ 48.38             │ 10011 │
⋮
│ 167 │ 11429   │ 548      │ 790   │ 69.37             │ 11429 │
│ 168 │ 11432   │ 872      │ 1345  │ 64.83             │ 11432 │
│ 169 │ 11433   │ 493      │ 750   │ 65.73             │ 11433 │
│ 170 │ 11434   │ 1099     │ 1717  │ 64.01             │ 11434 │
│ 171 │ 11435   │ 825      │ 1357  │ 60.8              │ 11435 │
│ 172 │ 11436   │ 280      │ 429   │ 65.27             │ 11436 │
│ 173 │ 11691   │ 1155     │ 1715  │ 67.35             │ 11691 │
│ 174 │ 11692   │ 310      │ 493   │ 62.88             │ 11692 │
│ 175 │ 11693   │ 205      │ 347   │ 59.08             │ 11693 │
│ 176 │ 11694   │ 371      │ 641   │ 57.88             │ 11694 │
│ 177 │ 11697   │ 63       │ 132   │ 47.73             │ 11697 │

I get a county-zip crosswalk from this file:

https://data.ny.gov/Government-Finance/New-York-State-ZIP-Codes-County-FIPS-Cross-Referen/juva-r6g2

In [8]:
ZB2=CSV.read("New_York_State_ZIP_Codes-County_FIPS_Cross-Reference.csv")
rename!(ZB2,[:Boro,:NY,:CC,:CF,:Zip,:FD])

2543×6 DataFrame
│ Row  │ Boro   │ NY    │ CC    │ CF    │ Zip   │ FD         │
│      │ String │ Int64 │ Int64 │ Int64 │ Int64 │ String     │
├──────┼────────┼───────┼───────┼───────┼───────┼────────────┤
│ 1    │ Albany │ 36    │ 1     │ 36001 │ 12007 │ 07/25/2007 │
│ 2    │ Albany │ 36    │ 1     │ 36001 │ 12009 │ 07/25/2007 │
│ 3    │ Albany │ 36    │ 1     │ 36001 │ 12023 │ 07/25/2007 │
│ 4    │ Albany │ 36    │ 1     │ 36001 │ 12041 │ 07/25/2007 │
│ 5    │ Albany │ 36    │ 1     │ 36001 │ 12045 │ 07/25/2007 │
│ 6    │ Albany │ 36    │ 1     │ 36001 │ 12046 │ 07/25/2007 │
│ 7    │ Albany │ 36    │ 1     │ 36001 │ 12047 │ 07/25/2007 │
│ 8    │ Albany │ 36    │ 1     │ 36001 │ 12053 │ 07/25/2007 │
│ 9    │ Albany │ 36    │ 1     │ 36001 │ 12054 │ 07/25/2007 │
│ 10   │ Albany │ 36    │ 1     │ 36001 │ 12055 │ 07/25/2007 │
⋮
│ 2533 │ Yates  │ 36    │ 123   │ 36123 │ 14456 │ 07/25/2007 │
│ 2534 │ Yates  │ 36    │ 123   │ 36123 │ 14478 │ 07/25/2007 │
│ 2535 │ Yates  │ 36    │ 123   │ 36123 │ 14507 │ 07/25/2007 │
│ 2536 │ Yates  │ 36    │ 123   │ 36123 │ 14512 │ 07/25/2007 │
│ 2537 │ Yates  │ 36    │ 123   │ 36123 │ 14527 │ 07/25/2007 │
│ 2538 │ Yates  │ 36    │ 123   │ 36123 │ 14544 │ 07/25/2007 │
│ 2539 │ Yates  │ 36    │ 123   │ 36123 │ 14561 │ 07/25/2007 │
│ 2540 │ Yates  │ 36    │ 123   │ 36123 │ 14837 │ 07/25/2007 │
│ 2541 │ Yates  │ 36    │ 123   │ 36123 │ 14842 │ 07/25/2007 │
│ 2542 │ Yates  │ 36    │ 123   │ 36123 │ 14857 │ 07/25/2007 │
│ 2543 │ Yates  │ 36    │ 123   │ 36123 │ 14878 │ 07/25/2007 │

In [9]:
ZB3=join(ZB1, ZB2, on=:Zip, kind=:inner)

182×10 DataFrame. Omitted printing of 4 columns
│ Row │ MODZCTA │ Positive │ Total │ zcta_cum.perc_pos │ Zip   │ Boro     │
│     │ String  │ Int64    │ Int64 │ Float64           │ Int64 │ String   │
├─────┼─────────┼──────────┼───────┼───────────────────┼───────┼──────────┤
│ 1   │ 10001   │ 221      │ 462   │ 47.84             │ 10001 │ New York │
│ 2   │ 10002   │ 554      │ 1045  │ 53.01             │ 10002 │ New York │
│ 3   │ 10003   │ 285      │ 678   │ 42.04             │ 10003 │ New York │
│ 4   │ 10004   │ 23       │ 59    │ 38.98             │ 10004 │ New York │
│ 5   │ 10005   │ 39       │ 117   │ 33.33             │ 10005 │ New York │
│ 6   │ 10006   │ 11       │ 44    │ 25.0              │ 10006 │ New York │
│ 7   │ 10007   │ 34       │ 109   │ 31.19             │ 10007 │ New York │
│ 8   │ 10009   │ 389      │ 879   │ 44.25             │ 10009 │ New York │
│ 9   │ 10010   │ 169      │ 472   │ 35.81             │ 10010 │ New York │
│ 10  │ 10011   │ 359      │ 742   │ 48.38             │ 10011 │ New York │
⋮
│ 172 │ 11432   │ 872      │ 1345  │ 64.83             │ 11432 │ Queens   │
│ 173 │ 11433   │ 493      │ 750   │ 65.73             │ 11433 │ Queens   │
│ 174 │ 11434   │ 1099     │ 1717  │ 64.01             │ 11434 │ Queens   │
│ 175 │ 11435   │ 825      │ 1357  │ 60.8              │ 11435 │ Queens   │
│ 176 │ 11436   │ 280      │ 429   │ 65.27             │ 11436 │ Queens   │
│ 177 │ 11691   │ 1155     │ 1715  │ 67.35             │ 11691 │ Queens   │
│ 178 │ 11692   │ 310      │ 493   │ 62.88             │ 11692 │ Queens   │
│ 179 │ 11693   │ 205      │ 347   │ 59.08             │ 11693 │ Kings    │
│ 180 │ 11693   │ 205      │ 347   │ 59.08             │ 11693 │ Queens   │
│ 181 │ 11694   │ 371      │ 641   │ 57.88             │ 11694 │ Queens   │
│ 182 │ 11697   │ 63       │ 132   │ 47.73             │ 11697 │ Queens   │

In [10]:
P1=by(ZB3, :Boro, :Positive  => sum, :Total=>sum)
rename!(P1,[:Boro,:Positive,:Total])

6×3 DataFrame
│ Row │ Boro        │ Positive │ Total │
│     │ String      │ Int64    │ Int64 │
├─────┼─────────────┼──────────┼───────┤
│ 1   │ New York    │ 14488    │ 30109 │
│ 2   │ Richmond    │ 8212     │ 17050 │
│ 3   │ Bronx       │ 22861    │ 38780 │
│ 4   │ Westchester │ 266      │ 491   │
│ 5   │ Queens      │ 33530    │ 53242 │
│ 6   │ Kings       │ 28058    │ 46473 │

Why is Westchester showing up???

In [11]:
SC=join(ZB1, ZB2, on=:Zip, kind=:inner)

 SC[SC.Boro .== "Westchester", :]

1×10 DataFrame. Omitted printing of 4 columns
│ Row │ MODZCTA │ Positive │ Total │ zcta_cum.perc_pos │ Zip   │ Boro        │
│     │ String  │ Int64    │ Int64 │ Float64           │ Int64 │ String      │
├─────┼─────────┼──────────┼───────┼───────────────────┼───────┼─────────────┤
│ 1   │ 10470   │ 266      │ 491   │ 54.18             │ 10470 │ Westchester │

A google search reveals that this zip code overlaps Westchester and the Bronx. I will lump it in with the figures from the Bronx (recall that the testing data is from NYC not NYS, so I won't be adding any tests from Westchester)

In [12]:
P1.Boro2=["New York County","Richmond County","Bronx County","Bronx County","Queens County","Kings County"]
P1=by(P1, :Boro2, :Positive  => sum, :Total=>sum)

5×3 DataFrame
│ Row │ Boro2           │ Positive_sum │ Total_sum │
│     │ String          │ Int64        │ Int64     │
├─────┼─────────────────┼──────────────┼───────────┤
│ 1   │ New York County │ 14488        │ 30109     │
│ 2   │ Richmond County │ 8212         │ 17050     │
│ 3   │ Bronx County    │ 23127        │ 39271     │
│ 4   │ Queens County   │ 33530        │ 53242     │
│ 5   │ Kings County    │ 28058        │ 46473     │

I get population from this link:

https://catalog.data.gov/dataset?tags=new-york-state

In [13]:
Pops=CSV.read("Annual_Population_Estimates_for_New_York_State_and_Counties__Beginning_1970.csv")
Pops=@where(Pops, :Year .== 2019)

rename!(Pops,[:Fips,:Boro2,:Year,:P1,:Pop])

63×5 DataFrame. Omitted printing of 1 columns
│ Row │ Fips  │ Boro2              │ Year  │ P1                             │
│     │ Int64 │ String             │ Int64 │ String                         │
├─────┼───────┼────────────────────┼───────┼────────────────────────────────┤
│ 1   │ 36000 │ New York State     │ 2019  │ Postcensal Population Estimate │
│ 2   │ 36001 │ Albany County      │ 2019  │ Postcensal Population Estimate │
│ 3   │ 36003 │ Allegany County    │ 2019  │ Postcensal Population Estimate │
│ 4   │ 36005 │ Bronx County       │ 2019  │ Postcensal Population Estimate │
│ 5   │ 36007 │ Broome County      │ 2019  │ Postcensal Population Estimate │
│ 6   │ 36009 │ Cattaraugus County │ 2019  │ Postcensal Population Estimate │
│ 7   │ 36011 │ Cayuga County      │ 2019  │ Postcensal Population Estimate │
│ 8   │ 36013 │ Chautauqua County  │ 2019  │ Postcensal Population Estimate │
│ 9   │ 36015 │ Chemung County     │ 2019  │ Postcensal Population Estimate │
│ 10  │ 36017 │ Chenango County    │ 2019  │ Postcensal Population Estimate │
⋮
│ 53  │ 36103 │ Suffolk County     │ 2019  │ Postcensal Population Estimate │
│ 54  │ 36105 │ Sullivan County    │ 2019  │ Postcensal Population Estimate │
│ 55  │ 36107 │ Tioga County       │ 2019  │ Postcensal Population Estimate │
│ 56  │ 36109 │ Tompkins County    │ 2019  │ Postcensal Population Estimate │
│ 57  │ 36111 │ Ulster County      │ 2019  │ Postcensal Population Estimate │
│ 58  │ 36113 │ Warren County      │ 2019  │ Postcensal Population Estimate │
│ 59  │ 36115 │ Washington County  │ 2019  │ Postcensal Population Estimate │
│ 60  │ 36117 │ Wayne County       │ 2019  │ Postcensal Population Estimate │
│ 61  │ 36119 │ Westchester County │ 2019  │ Postcensal Population Estimate │
│ 62  │ 36121 │ Wyoming County     │ 2019  │ Postcensal Population Estimate │
│ 63  │ 36123 │ Yates County       │ 2019  │ Postcensal Population Estimate │

In [14]:
Fin=join(P1, Pops, on=:Boro2, kind=:inner)
Fin=@select(Fin, :Boro2, :Positive_sum, :Total_sum, :Pop)

rename!(Fin,[:Borough,:Positive_sum, :Total_sum, :Pop])

5×4 DataFrame
│ Row │ Borough         │ Positive_sum │ Total_sum │ Pop     │
│     │ String          │ Int64        │ Int64     │ Int64   │
├─────┼─────────────────┼──────────────┼───────────┼─────────┤
│ 1   │ New York County │ 14488        │ 30109     │ 1628706 │
│ 2   │ Richmond County │ 8212         │ 17050     │ 476143  │
│ 3   │ Bronx County    │ 23127        │ 39271     │ 1418207 │
│ 4   │ Queens County   │ 33530        │ 53242     │ 2253858 │
│ 5   │ Kings County    │ 28058        │ 46473     │ 2559903 │

In [15]:
sum(Fin.Positive_sum)

107415

In [16]:
Fin.Pos_Share=Fin.Positive_sum./Fin.Pop.*100

Fin.Tested_Share=Fin.Total_sum./Fin.Pop.*100

Fin.Pct_Pos=Fin.Positive_sum./Fin.Total_sum.*100

5-element Array{Float64,1}:
 48.11850277325716
 48.16422287390029
 58.89078454839449
 62.976597423087036
 60.374841305704386

In [17]:
@select(Fin, :Borough, :Pos_Share, :Tested_Share,:Pct_Pos)

5×4 DataFrame
│ Row │ Borough         │ Pos_Share │ Tested_Share │ Pct_Pos │
│     │ String          │ Float64   │ Float64      │ Float64 │
├─────┼─────────────────┼───────────┼──────────────┼─────────┤
│ 1   │ New York County │ 0.889541  │ 1.84865      │ 48.1185 │
│ 2   │ Richmond County │ 1.72469   │ 3.58086      │ 48.1642 │
│ 3   │ Bronx County    │ 1.63072   │ 2.76906      │ 58.8908 │
│ 4   │ Queens County   │ 1.48767   │ 2.36226      │ 62.9766 │
│ 5   │ Kings County    │ 1.09606   │ 1.81542      │ 60.3748 │

Interesting! SI has almost 2x as many tests per cap as Manhattan, but the same positive rate, which might hint that their criteria are the same and the difference in positive tests truly reflects prevalence across the most and least dense boroughs of NYC. Might have to do with the share of SI working in health care, police, EMS, etc, or it might have to do with the tiny household sizes in Manhattan limiting intrafamilial spread.

It is much more difficult to use these numbers to say anything about the relative prevalence of the disease in SI vs the other boroughs, as the postive rates in the other 3 are all clustered close to each other and far from Manhattan and SI. It seems reasonable to say that disease prevalence is higher in SI than Manhattan, and that it is higher in the Bronx than Queens and higher in Queens than Brooklyn. Given that testing per cap is the same in Manhattan and Brookyln, but Manhattan has a far lower positive rate, it is also fair to say that prevalence is higher in Brooklyn than Manhattan but hard to say by how much without some sort of selection model of testing.

Without randomly testing people in the 5 boroughs, there is only so much we can say about the prevalence of the disease. Is the share of New Yorkers who had it/have ever had it closer to 10 or 40? Either number is within the bounds of possibility. 5k tests are sufficient to figure this out, as explained here:

https://voxeu.org/article/how-widespread-coronavirus-new-york-we-need-know

In [18]:
CSV.write("Borough_Testing.csv", Fin)

"Borough_Testing.csv"